body{
  background: black;
  color: white;
}

button{
  width: 100px;
  height: 100px;
  margin-right: 25px;
  border-radius: 50%;
  border: none;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  
}

button:hover {
  cursor: pointer;
}